<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dndhepler">
        <activity
            android:name=".MainActivity"
            android:theme="@style/Base.Theme.Dndhepler"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MonsterActivity" />
        <activity
            android:name=".BestiaryActivity"
            android:exported="false"
        />
        <activity android:name=".SorceryActivity" />
        <activity
            android:name=".SpellsActivity"
            android:exported="false"
            />
        <activity android:name=".GameMechanicActivity" />
        <activity android:name=".MadnessActivity" />
        <activity android:name=".ConditionsActivity" />
        <activity android:name=".ArmorsActivity" />
        <activity android:name=".WeaponsActivity" />
        <activity
            android:name=".ItemsActivity"
            android:exported="false" />
        <activity android:name=".ItemActivity" />
        <activity android:name=".ActionsActivity" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>